:root {
  font-family: sans-serif;

  --clr-light-grey: #e4e4e4;
  --clr-dark-grey: #9ca6b0;
  --clr-secondary: #1bc551;
}

body {
  background-color: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* container */
#root {
  margin: 0 auto;
  max-width: 1200px;
}
